@model List<Book>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <a asp-action="create" class="btn btn-primary">Create</a>
        </div>
        <div class="col-md-12 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Price</th>
                        <th scope="col">PageSize</th>
                        <th scope="col">Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@book.Name</td>
                            <td>@book.Author.FullName</td>
                            <td>@book.Genre.Name</td>
                            <td>@book.SalePrice</td>
                            <td>@book.PageSize</td>

                            <td>
                                <a asp-action="edit" asp-route-id="@book.Id" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a asp-action="delete" asp-route-id="@book.Id"  class="btn btn-danger sweet-delete"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

