@model MemberResetPasswordViewModel
@{
    ViewData["Title"] = "Forgot";
}

<form asp-action="resetpassword" method="post">
    <div class="login-form">
        <h4 class="login-title">Forgot Password</h4>
        <p><span class="font-weight-bold">I am a customer</span></p>
        <div class="row">
            <div class="col-md-12 col-12 mb--15">
                <label asp-for="@Model.Password">Password</label>
                <input asp-for="@Model.Password" class="mb-0 form-control" id="name"
                       placeholder="Enter your username">
                <span class="text-danger" asp-validation-for="@Model.Password"></span>
            </div>
            <div class="col-md-12 col-12 mb--15">
                <label asp-for="@Model.ConfirmPassword">ConfirmPassword</label>
                <input asp-for="@Model.ConfirmPassword" class="mb-0 form-control" id="name"
                       placeholder="Enter your username">
                <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
            </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-outlined">Login</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="Email" value="@Model.Email">
    <input type="hidden" name="Token" value="@Model.Token">
</form>

