@model MemberLoginViewModel

    <form asp-action="login" method="post">
        <div class="login-form">
            <h4 class="login-title">Returning Customer</h4>
            <p><span class="font-weight-bold">I am a returning customer</span></p>
            <div class="row">
                <div class="col-md-12 col-12 mb--15">
                    <label asp-for="@Model.LoginUserName">Username</label>
                    <input asp-for="@Model.LoginUserName" class="mb-0 form-control" type="text" id="name"
                           placeholder="Enter your username">
                    <span class="text-danger" asp-validation-for="@Model.LoginUserName"></span>
                </div>
                <div class="col-lg-6 mb--20">
                    <label asp-for="@Model.LoginPassword">Password</label>
                    <input asp-for="@Model.LoginPassword" class="mb-0 form-control" placeholder="Enter your password">
                    <span class="text-danger" asp-validation-for="@Model.LoginPassword"></span>
                    <a asp-action="forgot">Forgot password</a>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outlined">Login</button>
                </div>
            </div>
        </div>
    </form>